#aside {
  display: none;
  height: 100%;
  min-width: 70px;
  max-width: 70px;
  background-color: var(--background-two);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#menu {
  height: 100%;
  overflow: auto;
}

#menu a {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.titleMenu {
  padding-bottom: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  background-color: transparent;
  min-height: 60px;
  max-height: 60px;
  min-width: 70px;
  max-width: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.activeLink {
  font-weight: bold;
  color: var(--active-color);
}

@media (orientation: landscape) {
  #aside {
    display: flex;
  }
}