.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

@media (orientation: portrait) {
  .main {
    height: calc(100vh - 60px);
  }
}